.container{
    background-color: #000;
    height: 100vh;
    min-height: 100vh;
    color: #fff;
 
}

.container-appbar{
    height: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}
.onion{
    height: 100%;
    width: 80px;
   margin-top: 20px;
   margin-left: 30px;
}

.container-main{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.boxs{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction:row;
    max-width: 60%;
   
}
.boxs > a{
    text-decoration: none;
    color: white;
}
.footer{
    margin-top: 15px;
}
.relva{    
    width: 100%;
    overflow: hidden;
    height: 100px;
    animation-name: loop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.grama{
    height: 100%;
    width: 100%;

}
.grama:hover{
    animation-name: loop;
animation-duration: 1s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
.appbar-title{
    margin-left: 50px;
}
.rdw-editor-toolbar{
font-family: Roboto;
padding: 6px 5px 0;
border-radius: 2px;
border: 1px solid #F1F1F1;
display: flex;
justify-content: flex-start;
background: white;
flex-wrap: wrap;
font-size: 15px;
margin-bottom: 5px;
user-select: none;
visibility: visible;
width: 100%;
}
.container-editor{
   background-color: RED;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

}
.demo-editor-wrapper{
    height: 400px;
background-color: yellowgreen;
}

@media(max-width:1300px){
    .boxs{
        max-width: 90%;
        min-height: 520px;
        height: auto;
    }
    .container{ 
        height: auto;
        min-height: 100vh;
        color: #fff;
     
    }

}